amplify/backend/RetrieveStravaActivity.asl.json
{
  "Comment": "Retrieve Strava Activity Step Function",
  "StartAt": "Format",
  "States": {
    "Format": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:287509267405:function:360dslStravaTransformInput-staging",
      "ResultPath": "$.stravaActivityPushNotificationFormatted",
      "Next": "Retrieve Strava Token"
    },

    "Retrieve Strava Token": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "360dslPartyStrava",
        "Key": {
          "PartyId": {
            "S.$": "$.stravaActivityPushNotificationFormatted.owner_id"
          }
        }
      },
      "ResultPath": "$.stravaTokenData",
      "Next": "Refresh Strava Token"
    },

    "Refresh Strava Token": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:287509267405:function:360dslStravaRefreshStravaToken-staging",
      "ResultPath": "$.stravaTokenData",
      "Next": "Retrieve Strava Activity"
    },

    "Retrieve Strava Activity": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:287509267405:function:360dslRetrieveStravaActivity-staging",
      "ResultPath": "$.stravaActivityDetails",
      "Next": "Insert Strava Activity"
    },

    "Insert Strava Activity": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:287509267405:function:360dslWriteStravaActivity-staging",
      "ResultPath": "$.stravaActivityInsertDB",
      "Next": "Notify And Retrieve TP Activity"
    },

    "Notify And Retrieve TP Activity": {
      "Type": "Parallel",
      "End": true,
      "Branches": [
        {
          "StartAt": "Get Strava Athlete Profile",
          "States": {


            "Get Strava Athlete Profile": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:287509267405:function:360dslStravaGetAthlete-staging",
              "ResultPath": "$.stravaAthleteProfile",
              "Next": "Start RetrieveTPActivity Step Function"
            },




            "Start RetrieveTPActivity Step Function": {
              "Comment": "Start RetrieveTPActivity Step Function",
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution",
              "Parameters": {
                "StateMachineArn": "arn:aws:states:us-east-1:287509267405:stateMachine:RetrieveTPActivity",
                "Input": {
                  "NeedCallback": false,
                  "Data.$": "$",
                  "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                }
              },
              "End": true
            }

         
          }
        },
        {
          "StartAt": "Send message to SNS",
          "States": {
            "Send message to SNS": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "Message.$": "$.stravaActivityDetails.name",
                "TopicArn": "arn:aws:sns:us-east-1:287509267405:StravaActivityReceived"
              },
              "End": true
            }
          }
        }
      ]
    }
  }
}
