amplify/backend/RetrieveTPActivity.asl.json
{
  "Comment": "Retrieve TP Activity Step Function",
  "StartAt": "Retrieve TP Token",
  "States": {
    "Retrieve TP Token": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "360dslPartyTP",
        "Key": {
          "LastName": {
            "S.$": "$.Data.stravaAthleteProfile.lastname"
          }
        }
      },
      "ResultPath": "$.tpTokenData",
      "Next": "Refresh TP Token"
    },
    "Refresh TP Token": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:287509267405:function:360dslTPRefreshTPToken-staging",
      "ResultPath": "$.tpTokenData",
      "Next": "Create TP Activity"
    },

    "Create TP Activity": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:287509267405:function:360dslTPCreateWorkout-staging",
      "ResultPath": null,
      "Next": "Retrieve TP Activity"
    },

    "Retrieve TP Activity": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:287509267405:function:360dslTPGetActivity-staging",
      "ResultPath": "$.tpActivityDetails",
      "Next": "Insert TP Activity"
    },

    "Insert TP Activity": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:287509267405:function:360dslTPcreateACTIVITIESTP-staging",
      "ResultPath": "$.tpActivityInsertDB",
      "Next": "Send message to SNS"
    },

    "Send message to SNS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$.stravaActivityDetails.name",
        "TopicArn": "arn:aws:sns:us-east-1:287509267405:StravaActivityReceived"
      },
      "End": true
    }
  }
}
